
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/*HEADER*/
header {
    position: absolute;           
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    z-index: 100;
    background: transparent;
}

/* Logo */
.header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-left img {
    height: 40px;
}

/* Menu */
.header-right ul {
    list-style: none;
    display: flex;
}

.header-right li {
    margin-left: 25px;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.header-right li:hover {
    background: rgba(255,255,255,0.2);
    border-radius: 4px;
}

.header-right li.active {
    background: #ffcc00;
    color: #003366;
    border-radius: 4px;
}

/*HOME PAGE*/
body.home-page main {
    background: url("anh2.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

/* overlay */
body.home-page main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}

body.home-page main > * {
    position: relative;
    z-index: 1;
}

/*main*/
body.home-page main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px; 
}

/*content box*/
.content-box {
    background: rgba(255,255,255,0.9);
    padding: 30px 40px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/*TELEVISIONS PAGE*/
body[data-page="televisions"] {
    background-color: #5F9598; 
}

/* main */
body[data-page="televisions"] main {
    background-color: #132440;
    padding: 120px 40px 60px;
    display: block;
    height: auto;
}

/* content box */
body[data-page="televisions"] .content-box {
    background: #F3F4F4;
    padding: 40px;
    border-radius: 12px;

    max-width: 1100px;
    margin: 0 auto 40px;

    text-align: left;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

body[data-page="televisions"] section {
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F3F4F4;
}


/* HEADINGS */
body[data-page="televisions"] h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #003366;
}

body[data-page="televisions"] p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #333;
}

/* charts sizing */
body[data-page="televisions"] .chart-img {
    width: 100%;
    max-width: 600px;     
    height: auto;         
    display: block;
    margin: 20px auto 30px;
    border-radius: 6px;
}

/*ABOUT US PAGE*/
body[data-page="about"] header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    z-index: 10;
    background: transparent;
}

body[data-page="about"] .header-right li {
    color: white;
}


/* LEFT IMAGE */
body[data-page="about"] .about-left {
    width: 50%;
    background:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        url("45-inch-smart-led-tv-500x500.jpg.webp")
        center / cover no-repeat;
}

/* RIGHT CONTENT */
body[data-page="about"] .about-right {
    width: 50%;
    padding: 120px 70px 60px;
    background: rgba(29, 84, 109);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

body[data-page="about"] .about-right h1,
body[data-page="about"] .about-right p {
    color: rgb(243, 244, 244);
}

body[data-page="about"] .about-right h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

body[data-page="about"] .about-right p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}
body[data-page="about"] main.about-split {
    display: flex;
    height: calc(100vh - 70px - 45px);
}

/*FOOTER*/
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 12px 10px;
    font-size: 14px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
}

/* footer tv */
body[data-page="televisions"] footer p {
    color: #fff;
}


